/* import global font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* import tailwindcss */
@import "tailwindcss";

/* apply font to all files */
*{
  font-family: "Outfit", sans-serif
}

/* Hide scrollbar for all elements */
*::-webkit-scrollbar { /* remove * and code below to match with video */
  display: none;
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}